<% include ../comment/header.ejs %>

<div class="wrap mt20">
    <div class="box cat_pos clearfix">
    </div>
</div>

<div class="wrap mt20">
    <div class="box">
        <div class="film_info clearfix">
            <dl>
                <dt><a href="/html/play/9231.html" target="_blank">
                        <img src="/data/video/tpzp/2018/04/25/173qr1524643350491.jpg" title="" alt="" border="0"></a>
                </dt>
                <dd class="film_title"></dd>
                <dd>类型：<span></span></dd>
                <dd>
                    <a href="/html/play/9231.html" target="_blank">
                        <img src="https://mbd.baidu.com/newspage/data/landingsuper?context=%7B%22nid%22%3A%22news_17889228057990460249%22%7D&n_type=0&p_from=1" alt="" border="0">
                    </a>
                </dd>
            </dl>
            <div class="film_info_r">
                <img src="/static/images/ads.gif" style="display: none !important;">
            </div>

        </div>

        <div class="film_bar clearfix"><span>1、播放地址：</span>
            <ul>
                <ul>
                    <li>
                        <a title="第1集" href="/html/play/9231.html" target="_blank">开始</a>
                    </li>
                </ul>
            </ul>
        </div>
        <div class="film_photo"></div>

    </div>
</div>


<% include ../comment/footer.ejs %>