
<div id="header_box">
    <div class="wrap mt15 nav">
        <ul class="nav_menu clearfix">
            <li class="active">新闻热点</li>
            <li><a href="" target="_blank"></a></li>
            <li><a href="" target="_blank"></a></li>
            <li><a href="" target="_blank"></a></li>
            <li><a href="" target="_blank"></a></li>
            <li><a href="" target="_blank"></a></li>
            <li><a href="" target="_blank"></a></li>
            <li><a href="" target="_blank"></a></li>
            <li><a href="" target="_blank"></a></li>
        </ul>
    </div>
</div>