
<div class="wrap mt15">
    <div class="new">
        <div class="nbar">
            <div class="nle"><h3>最新电影,在线视频播放-无需安装播放器,支持手机,平板,电脑设备播放:<span>www.173qr.com</span></h3></div>
            <div class="nri"><a href="/voide/1/1.html">&gt;&gt; 更多视频</a></div>
        </div>
        <div class="nbox">
            <ul>

                <% advance_movice.forEach(function (item) { %>
                <li>
                    <a href="/video/detail/<%= item.id %>" title="<%= item.name %>">
                        <img class="video-list-row" style="background-image: url('<%= item.iconb %>')">
                        <p class="multi-break"><%= item.name %></p>
                    </a>
                </li>

                <% }) %>

            </ul>
        </div>

    </div>
</div>

